.messageBar{
    background-color: rgb(228, 155, 11);
    width: 100%;
    min-height: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.messageBar p{
    margin: 0px;
    margin-left: 1em;
    text-align: center;
    font-weight: bold;
}