.frameChild,
.kpiStatistics {
  position: relative;
}
.frameChild {
  width: 15.5px;
  height: 16px;
  object-fit: contain;
}
.sinceDropdownInner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0 0;
}
.months {
  flex: 1;
  position: relative;
}
.sinceDropdown,
.titleplussince {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.sinceDropdown {
  width: 211px;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-37xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-base);
  color: var(--color-dimgray);
}
.titleplussince {
  align-self: stretch;
  justify-content: space-between;
  padding: var(--padding-9xs) 0;
  gap: var(--gap-xl);
}
.lineframeChild {
  height: 3px;
  flex: 1;
  position: relative;
  border-top: 3px solid var(--color-steelblue);
  box-sizing: border-box;
  max-width: 100%;
}
.lineframe,
.subsectionHeader {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.lineframe {
  height: 0;
  flex-direction: row;
  padding: 0;
}
.subsectionHeader {
  flex-direction: column;
  padding: var(--padding-sm) 0;
  gap: var(--gap-3xs);
}
.screenshot20240423At1544 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.graph {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 675px) {
  .titleplussince {
    flex-wrap: wrap;
  }
  .graph {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .kpiStatistics {
    font-size: var(--font-size-base);
  }
}
