.table{
  table-layout: auto;
  text-align: left;
  margin: 2em;
  border-collapse: collapse; 
}
.tableHead
.tableRow
.tableHeader{
  border-bottom: 2px solid black;
  height: 4em;
}
.tableBody tr:nth-child(even) {
    background-color: #4C8BF5;
    color: #fff;
}
.tableData{
  margin: 2em;
  height: 4em;
}