.kpiStatistics {
  position: relative;
  font-weight: 700;
}
.titleplussince {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-308xl);
}
.titleSeparatorChild {
  height: 3px;
  flex: 1;
  position: relative;
  border-top: 3px solid var(--color-steelblue);
  box-sizing: border-box;
  max-width: 100%;
}
.subsectionHeader,
.titleSeparator {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.titleSeparator {
  height: 0;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.subsectionHeader {
  flex-direction: column;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
}
.headertext {
  width: 91px;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.headercell1,
.headertextWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headercell1 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;

}
.headertext1 {
  width: 91px;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.headercell2,
.headertextContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headercell2 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -82px;
}
.headertext2 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  width: 91px;
  height: 19px;
}
.headertextFrame {
  height: 19px;
  width: 215px;
  position: relative;
}
.headercell3 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.headertext3 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 91px;
}
.frameDiv,
.headercell4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headercell4 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -82px;
}
.headertext4 {
  height: 19px;
  width: 91px;
  position: relative;
  font-weight: 700;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.headercell5,
.headertextWrapper1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headercell5 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -82px;
}
.headertext5 {
  position: relative;
  font-weight: 700;
  display: inline-block;
  min-width: 91px;
}
.headertextWrapper2 {
  flex: 1;
}
.headercell6,
.headertextWrapper2,
.tableheader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.headercell6 {
  flex: 1;
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -82px;
}
.tableheader {
  align-self: stretch;
  flex-wrap: wrap;
  padding: 0 0 0 var(--padding-21xl);
  row-gap: 20px;
}
.tableChild {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.celltext {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper,
.tablecell1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell1 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
}
.celltext1 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextContainer,
.tablecell2 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextContainer {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell2 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -82px;
}
.celltext2 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextFrame,
.tablecell3 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextFrame {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell3 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -82px;
}
.celltext3 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper1,
.tablecell4 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper1 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell4 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -82px;
}
.indicatorbollsmallIcon {
  height: 18px;
  width: 18px;
  position: relative;
}
.good {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.indicatortext {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-127xl) 0 0;
  gap: var(--gap-3xs);
}
.indicatortext,
.indicatortextWrapper,
.tablecell5 {
  display: flex;
  justify-content: flex-start;
}
.indicatortextWrapper {
  align-self: stretch;
  height: 15px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.tablecell5 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -82px;
}
.celltext4 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper2 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell51,
.tablerow0 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tablecell51 {
  display: none;
  flex-direction: column;
  z-index: 6;
}
.tablerow0 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-21xl);
  row-gap: 20px;
}
.celltext5 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper3,
.tablecell11 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper3 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell11 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
}
.celltext6 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper4,
.tablecell21 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper4 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell21 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -82px;
}
.celltext7 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper5,
.tablecell31 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper5 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell31 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -82px;
}
.celltext8 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper6,
.tablecell41 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper6 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell41 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -82px;
}
.indicatorbollsmallIcon1 {
  height: 18px;
  width: 18px;
  position: relative;
}
.average {
  position: relative;
  display: inline-block;
  min-width: 62px;
}
.indicatortext1 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-106xl) 0 0;
  gap: var(--gap-3xs);
}
.indicatortext1,
.indicatortextContainer,
.tablecell52 {
  display: flex;
  justify-content: flex-start;
}
.indicatortextContainer {
  align-self: stretch;
  height: 15px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.tablecell52 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -82px;
}
.celltext9 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper7 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell53,
.tablerow1 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tablecell53 {
  display: none;
  flex-direction: column;
  z-index: 6;
}
.tablerow1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-21xl);
  row-gap: 20px;
}
.celltext10 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper8,
.tablecell12 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper8 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell12 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
}
.celltext11 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper9,
.tablecell22 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper9 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell22 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -82px;
}
.celltext12 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper10,
.tablecell32 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper10 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell32 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -82px;
}
.celltext13 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper11,
.tablecell42 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper11 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell42 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -82px;
}
.indicatorbollsmallIcon2 {
  height: 18px;
  width: 18px;
  position: relative;
}
.functional {
  position: relative;
  display: inline-block;
  min-width: 41px;
}
.indicatortext2 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-127xl) 0 0;
  gap: var(--gap-3xs);
}
.indicatortext2,
.indicatortextFrame,
.tablecell54 {
  display: flex;
  justify-content: flex-start;
}
.indicatortextFrame {
  align-self: stretch;
  height: 15px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.tablecell54 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -82px;
}
.celltext14 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper12 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell55,
.tablerow2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tablecell55 {
  display: none;
  flex-direction: column;
  z-index: 6;
}
.tablerow2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-21xl);
  row-gap: 20px;
}
.celltext15 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper13 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell13 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.celltext16 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper14 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell23 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.celltext17 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper15 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell33 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 3;
}
.celltext18 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper16 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell43 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 4;
}
.indicatorbollsmallIcon3 {
  height: 18px;
  width: 18px;
  position: relative;
}
.functional1 {
  align-self: stretch;
  position: relative;
}
.indicatortext3 {
  height: 19px;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.indicatortext3,
.indicatortextWrapper1,
.tablecell56 {
  display: flex;
  justify-content: flex-start;
}
.indicatortextWrapper1 {
  width: 215px;
  height: 15px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
}
.tablecell56 {
  flex-direction: column;
  align-items: flex-start;
  z-index: 5;
}
.celltext19 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper17 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell57 {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 6;
}
.tablerow3 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-21xl);
  box-sizing: border-box;
  min-height: 39px;
  gap: var(--gap-93xs-6);
  row-gap: 20px;
}
.celltext20 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper18,
.tablecell14 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper18 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell14 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
}
.celltext21 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper19,
.tablecell24 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper19 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell24 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -82px;
}
.celltext22 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper20,
.tablecell34 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper20 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell34 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -82px;
}
.celltext23 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper21,
.tablecell44 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper21 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell44 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -82px;
}
.indicatorbollsmallIcon4 {
  height: 18px;
  width: 18px;
  position: relative;
}
.offline {
  position: relative;
  display: inline-block;
  min-width: 50px;
}
.indicatortext4 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-118xl) 0 0;
  gap: var(--gap-3xs);
}
.indicatortext4,
.indicatortextWrapper2,
.tablecell58 {
  display: flex;
  justify-content: flex-start;
}
.indicatortextWrapper2 {
  align-self: stretch;
  height: 15px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.tablecell58 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -82px;
}
.celltext24 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper22 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell59,
.tablerow4 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tablecell59 {
  display: none;
  flex-direction: column;
  z-index: 6;
}
.tablerow4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-21xl);
  row-gap: 20px;
}
.celltext25 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper23,
.tablecell15 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper23 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell15 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
}
.celltext26 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper24,
.tablecell25 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper24 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell25 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 1;
  margin-left: -82px;
}
.celltext27 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper25,
.tablecell35 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper25 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell35 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 2;
  margin-left: -82px;
}
.celltext28 {
  flex: 1;
  position: relative;
  line-height: 15px;
}
.celltextWrapper26,
.tablecell45 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.celltextWrapper26 {
  background-color: var(--color-white);
  padding: 0 var(--padding-16xl) 0 0;
}
.tablecell45 {
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 3;
  margin-left: -82px;
}
.indicatorbollsmallIcon5 {
  height: 18px;
  width: 18px;
  position: relative;
}
.poor {
  position: relative;
  display: inline-block;
  min-width: 36px;
}
.indicatortext5 {
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-132xl) 0 0;
  gap: var(--gap-3xs);
}
.indicatortext5,
.indicatortextWrapper3,
.tablecell510 {
  display: flex;
  justify-content: flex-start;
}
.indicatortextWrapper3 {
  align-self: stretch;
  height: 15px;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}
.tablecell510 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 211px;
  max-width: 215px;
  flex-shrink: 0;
  z-index: 4;
  margin-left: -82px;
}
.celltext29 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 180px;
  height: 15px;
}
.celltextWrapper27 {
  width: 215px;
  height: 15px;
  position: relative;
  background-color: var(--color-white);
}
.tablecell511,
.tablerow5 {
  align-items: flex-start;
  justify-content: flex-start;
}
.tablecell511 {
  display: none;
  flex-direction: column;
  z-index: 6;
}
.tablerow5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-21xl);
  row-gap: 20px;
}
.show5More {
  height: 19px;
  position: relative;
  display: inline-block;
  white-space: pre-wrap;
}
.frameChild {
  width: 18px;
  height: 10px;
  position: relative;
}
.show5MoreParent,
.table {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.show5MoreParent {
  display: none;
  align-items: center;
  gap: var(--gap-sm);
  color: var(--color-darkgray);
}
.table {
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  padding: var(--padding-xl) var(--padding-44xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 800px) {
  .titleplussince {
    padding-left: var(--padding-144xl);
    padding-right: var(--padding-144xl);
    box-sizing: border-box;
  }
  .tablerow3 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 450px) {
  .kpiStatistics {
    font-size: var(--font-size-base);
  }
  .table,
  .titleplussince {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .table {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
  }
}
