
  .celltext {
    flex: 1;
    position: relative;
    line-height: 15px;
  }
  .celltextWrapper,
  .tablecell1 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .celltextWrapper {
    background-color: var(--color-white);
    padding: 0 var(--padding-16xl) 0 0;
  }
  .tablecell1 {
    min-width: 211px;
    max-width: 215px;
    flex-shrink: 0;
  }
  .celltext1 {
    flex: 1;
    position: relative;
    line-height: 15px;
  }
  .celltextContainer,
  .tablecell2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .celltextContainer {
    background-color: var(--color-white);
    padding: 0 var(--padding-16xl) 0 0;
  }
  .tablecell2 {
    min-width: 211px;
    max-width: 215px;
    flex-shrink: 0;
    z-index: 1;
    margin-left: -82px;
  }
  .celltext2 {
    flex: 1;
    position: relative;
    line-height: 15px;
  }
  .celltextFrame,
  .tablecell3 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .celltextFrame {
    background-color: var(--color-white);
    padding: 0 var(--padding-16xl) 0 0;
  }
  .tablecell3 {
    min-width: 211px;
    max-width: 215px;
    flex-shrink: 0;
    z-index: 2;
    margin-left: -82px;
  }
  .celltext3 {
    flex: 1;
    position: relative;
    line-height: 15px;
  }
  .celltextWrapper1,
  .tablecell4 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .celltextWrapper1 {
    background-color: var(--color-white);
    padding: 0 var(--padding-16xl) 0 0;
  }
  .tablecell4 {
    min-width: 211px;
    max-width: 215px;
    flex-shrink: 0;
    z-index: 3;
    margin-left: -82px;
  }

  .good {
    position: relative;
    display: inline-block;
    min-width: 41px;
  }
  .indicatortext {
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--padding-127xl) 0 0;
    gap: var(--gap-3xs);
  }
  .indicatortext,
  .indicatortextWrapper,
  .tablecell5 {
    display: flex;
    justify-content: flex-start;
  }
  .indicatortextWrapper {
    align-self: stretch;
    height: 15px;
    background-color: var(--color-white);
    flex-direction: row;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
  }
  .tablecell5 {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    min-width: 211px;
    max-width: 215px;
    flex-shrink: 0;
    z-index: 4;
    margin-left: -82px;
  }
  .celltext4 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 180px;
    height: 15px;
  }
  .celltextWrapper2 {
    width: 215px;
    height: 15px;
    position: relative;
    background-color: var(--color-white);
  }
  .tablecell51,
  .tablerow0 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .tablecell51 {
    display: none;
    flex-direction: column;
    z-index: 6;
  }
  .tablerow0 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-21xl);
    row-gap: 20px;
  }


  .poor {
    position: relative;
    display: inline-block;
    min-width: 36px;
  }
 
 
 