@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
  background-color: white;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-smi: 13px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-xl: 20px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-11xl: 30px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkgray: #9a9a9a;
  --color-firebrick: #a51010;
  --color-steelblue: #0091D3;
  --color-steelblue-100: #0091D3; 
  --color-deepskyblue: #0091D3;
  --color-gainsboro: #d9d9d9;
  --color-black: #000;
  --color-dimgray: #666;
  --color-limegreen: #00dd16;
  --color-togglegreen: #34c759;

  /* Gaps */
  --gap-xl: 20px;
  --gap-15xl: 34px;
  --gap-mid: 17px;
  --gap-8xl: 27px;
  --gap-3xs: 10px;
  --gap-lgi: 19px;
  --gap-sm: 14px;
  --gap-93xs-6: -80.6px;
  --gap-base: 16px;
  --gap-49xl-3: 68.3px;
  --gap-32xl: 51px;
  --gap-5xl: 24px;
  --gap-10xs: 3px;
  --gap-11xs: 2px;

  /* Paddings */
  --padding-44xl: 63px;
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-16xl: 35px;
  --padding-28xl-5: 47.5px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-10xs: 3px;
  --padding-5xs: 8px;
  --padding-lgi: 19px;
  --padding-11xs: 2px;
  --padding-8xl: 27px;
  --padding-37xl: 56px;
  --padding-11xs-5: 1.5px;
  --padding-19xl: 38px;
  --padding-18xl: 37px;
  --padding-21xl: 40px;
  --padding-xs: 12px;
  --padding-8xs: 5px;
  --padding-12xs: 1px;
  --padding-35xl: 54px;
  --padding-3xs: 10px;
  --padding-145xl: 164px;
  --padding-smi: 13px;
  --padding-7xs: 6px;
  --padding-sm: 14px;
  --padding-25xl: 44px;
  --padding-2xs: 11px;
  --padding-132xl: 151px;
  --padding-118xl: 137px;
  --padding-127xl: 146px;
  --padding-106xl: 125px;
  --padding-308xl: 327px;
  --padding-144xl: 163px;
  --padding-4xl: 23px;
  --padding-137xl: 156px;
  --padding-111xl: 130px;
  --padding-40xl: 59px;
  --padding-2xl: 21px;

  /* Border radiuses */
  --br-3xs: 10px;
}