.back{
    margin: 1em 1em 1em 0em;
    display: flex;
}
.backText{
    font-size: var(--font-size-l);
    color: var(--color-black);
    font-family: var(--font-inter);
    font-weight: 700;
}
.backText:hover{
    color: var(--color-steelblue)
}
.singleArrowLeft{
    width: 30px;
    margin-right: 1em;
}
